@model FunnyV1.Models.Alien

@{
    ViewBag.Title = "InfoAlien";
}
<link href="~/Content/info.css" rel="stylesheet" />
<h2>InfoAlien</h2>

<div>
    <h4>Alien</h4>
    <hr />
    <dl id="tabla" class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FourthName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FourthName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
